<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sungmin.sound</string>
	<key>connections</key>
	<dict>
		<key>E0AE5FC8-7D87-404A-A73C-607F82218B6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84AFF7CC-437B-475E-A61D-5968CB0B53F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sungmin Oh</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sound Input Controll</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sound</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#!/bin/bash

shopt -s nocasematch

query="{query}"
[ $query = "{query}" ] &amp;&amp; query="$@"

IFS=' '
devices=$(SwitchAudioSource -a | tail -n+2)
current=$(SwitchAudioSource -c)


echo '&lt;?xml version="1.0"?&gt;'
echo '&lt;items&gt;'

function print_items {
  target=$devices
  jq -R -r &lt;&lt;&lt; "$target" | while IPS= read -r device; do
    if [[ -n $query &amp;&amp; ! $device =~ $query ]]; then
      continue
    fi

    icon="volume_off.png"
    if [[ $device == $current ]]; then
      icon="icon.png"
    fi

    echo "
      &lt;item uid=\"$device\" arg=\"${device}\"&gt;
        &lt;title&gt;$device&lt;/title&gt;
         &lt;subtitle&gt;&lt;/subtitle&gt;
        &lt;icon&gt;$icon&lt;/icon&gt;
      &lt;/item&gt;
    "
  done
}

print_items

echo '&lt;/items&gt;'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E0AE5FC8-7D87-404A-A73C-607F82218B6C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./SwitchAudioSource -s "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>84AFF7CC-437B-475E-A61D-5968CB0B53F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>84AFF7CC-437B-475E-A61D-5968CB0B53F7</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>E0AE5FC8-7D87-404A-A73C-607F82218B6C</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>v0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/sungminoh/alfred-workflow-sound</string>
</dict>
</plist>
